---
import { userData } from "@/pages/index.astro";

import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import Linkedin from "@/components/icons/Linkedin.astro";
import GitHub from "@/components/icons/GitHub.astro";
import Mail from "@/components/icons/Mail.astro";
---

<section class="my-10 md:my-20 lg:max-w-3xl mx-auto">
	<div class="flex gap-x-4">
		<img
			class="size-16 rounded-full"
			src="/images/me.webp"
			alt={userData.name}
		/>
		<a
			href={userData.linkedin}
			target="_blank"
			rel="noopener"
			class="flex items-center transition hover:scale-105"
		>
			<Badge>Open to Work</Badge>
		</a>
	</div>

	<h1
		class="text-5xl font-bold my-5 flex flex-col sm:flex-row gap-4"
	>
		Hey, I'm <span class="text-gradient">{userData.name}</span>
	</h1>

    <h2 class="flex flex-col gap-y-2 text-xl text-pretty mt-2 text-gray-300">
        <span class="text-3xl text-gradient">{userData.rol}</span>
		{userData.description}
	</h2>

	<nav class="flex flex-wrap gap-4 mt-7">
        <SocialPill href={userData.linkedin}>
            <Linkedin />
            LinkedIn
        </SocialPill>
        <SocialPill href={userData.github}>
            <GitHub />
            GitHub
        </SocialPill>
        <SocialPill href={'mailto:' + userData.mail}>
            <Mail />
            Contact me
        </SocialPill>
    </nav>
</section>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 350%;
		background-position: 0%;
	}
</style>
