---
import BootstrapIcon from "./icons/BootstrapIcon.astro";
import GitHub from "./icons/GitHub.astro";
import Java from "./icons/Java.astro";
import LinkButton from "./LinkButton.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import PostgreIcon from "./icons/PostgreIcon.astro";
import Spring from "./icons/SpringIcon.astro";

const TAGS = {
	JAVA: {
		name: "Java",
		class: "bg-gray-300 text-gray-900",
		icon: Java,
	},
	SPRING: {
		name: "Spring",
		class: "bg-[#6ca65e] text-white",
		icon: Spring,
	},
	POSTGRE: {
		name: "PostgreSQL",
		class: "bg-[#003159] text-white",
		icon: PostgreIcon,
	},
	MYSQL: {
		name: "MySQL",
		class: "bg-[#336791] text-white",
		icon: MySQLIcon,
	},
	BOOTSTRAP: {
		name: "Bootstrap",
		class: "bg-[#563D7C] text-white",
		icon: BootstrapIcon,
	},
};

const PROJECTS = [
	{
		title: "Library - A Management system for books",
		description:
			"Users can perform different actions based on their role, from CRUD operations on books to search for and borrow them. It also includes an automatic email sender for users who have overdue books. Built from scratch using Java, Jakarta EE, JPA, MySQL and Bootstrap.",
		github: "https://github.com/amadr-95/library-management",
		image: "/images/projects/library-project.webp",
		tags: [TAGS.JAVA, TAGS.MYSQL, TAGS.BOOTSTRAP],
	},
	{
		title: "Swagger API - User accounts",
		description:
			"API that offers comprehensive documentation and easy-to-use endpoints for user accounts. Built for educational purposes using Java and Spring Boot, with a PostgreSQL database.",
		github: "https://github.com/amadr-95/spring-jpa-postgres-swagger",
		image: "/images/projects/swagger-project.webp",
		tags: [TAGS.JAVA, TAGS.SPRING, TAGS.POSTGRE],
	},
];
---

{
	PROJECTS.map(({ image, title, description, tags, github }) => (
		<article class="flex flex-col gap-y-8 md:flex-row md:gap-x-8 mb-16">
			<div class="w-full md:w-1/2">
				<img
					alt={`Screenshot of project ${title}`}
					class="rounded-xl transition duration-500 lg:hover:scale-95"
					loading="lazy"
					src={image}
				/>
			</div>

			<div class="w-full md:w-1/2">
				<h3 class="text-2xl font-bold text-gray-100">{title}</h3>
				<div class="flex flex-wrap mt-2">
					<nav class="flex flex-wrap gap-3 mt-2">
						{tags.map((tag) => (
							<span
								class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
							>
								<tag.icon class="size-4" />
								{tag.name}
							</span>
						))}
					</nav>

					<p class="mt-2 text-gray-300 text-pretty">{description}</p>

					<footer class="mt-4">
						{github && (
							<LinkButton href={github}>
								<GitHub class="size-6" />
								Code
							</LinkButton>
						)}
					</footer>
				</div>
			</div>
		</article>
	))
}

<!-- <section class="my-10 md:my-20 lg:max-w-3xl mx-auto">
	{
		PROJECTS.map(({ title, description, image, tags }) => (
			<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
				<div class="w-full md:w-1/2">
					<div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
						<img
							alt={`Screenshot of project ${title}`}
							loading="lazy"
							src={image}
							class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
						/>
					</div>
				</div>
				<h3>{title}</h3>
				<p>{description}</p>
				<ul>
					{tags.map((tag) => (
						<li>
							<span
								class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
							>
								<tag.icon class="size-5" />
								{tag.name}
							</span>
						</li>
					))}
				</ul>
			</article>
		))
	}
</section> -->
